@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

body {
    overflow: hidden;
}

#target-eye {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    transform: translateY(-50%) translateX(-50%);
    font-size: 1vh;
    text-shadow: 0 0 15px black;
    transition: all 0.2s ease-in-out;
}

#target-label-wrapper {
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    left: 51%;
    width: fit-content;
    height: 100%;
    top: 48.3%;
}

#target-label {
    list-style: none;
    font-size: 1.15vh;
    font-weight: bold;
    font-family: 'Cairo', sans-serif;
    user-select: none;
    white-space: nowrap;
    transition: all 0.2s ease-in-out;
}
#target-label:hover {
    text-shadow: 0 0 1vh white;
}
